body {
	padding: 10px;
}

h1, h2 {
    font-family: var(--sl-font-sans);
	font-weight: var(--sl-font-weight-semibold);
}

div, p {
    font-family: var(--sl-font-sans);
}

div.header {
	background-color: var(--sl-color-primary-50);
	padding:10px;
	margin-bottom: 15px;
	font-family: var(--sl-font-sans); 
}

div.header a {
	color: white;
}

sl-card.item {
	margin-bottom: 35px;
	margin-right: 35px;
}

sl-card {
	max-width: 500px;
}

sl-card [slot='header'] {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Items used in admin */
#blogTable {
	border-collapse: collapse;
	border: 1px solid white;
	width: 100%;
	max-width: 750px;
}

th, td {
	border: 1px solid white;
	padding: 5px; 
	font-family: var(--sl-font-sans);
}

sl-input {
	margin-bottom: 20px;
}

form {
	font-family: var(--sl-font-sans);
}
